body {
	background-color:#ffff80;
	font-family: cursive;
	text-align: center;
}

table{
	display: inline-block;
	text-align: center;
	margin: auto;
	background-color: yellow;
}

form {
	display: inline-block;
	text-align: center;
}
#myAgenda{
	border: 2px solid black;
	border-collapse: collapse;
}

#myTitle{
	text-align: center;
}

.agendaHeading{
	border: 2px solid black;
	border-collapse: collapse;
}

.info {
	border: 1px solid black;
}
