<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
	<h1>Login Page</h1>

	<form th:action="@{/login}" method="post">
		<div th:if="${param.error}">
			<div class="alert">Invalid username or password</div>
		</div>
		<div th:if="${param.logout}">
			<div class="alert">You have logged out succsessfully.</div>
		</div>
		<div>
			<label for="username">User's Name:</label> <input type="text"
				id="username" name="username" autofocus="autofocus"
				placeholder="Enter Username" />
		</div>
		<div>
			<label for="password">Password:</label> <input type="password"
				id="password" name="password" placeholder="Enter Password" />
		</div>
		<input type="submit" name="login-submit" id="login-submit"
			value="Login" />
	</form><br>
	Go to the
	<a th:href="@{/register}">Registration Page</a>
	<br> Go to the
	<a th:href="@{/}">Main Page</a>
</body>
</html>